adiv.heading {
	text-align: center;
	color: white;
}

body {
	background-color: #171717;
	color: white;
}

div.box {
	color: orange;
}

.topnav {
	overflow: hidden;
	background-color: #171717;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ebe6e0;
	color: black;
}

.topnav a.active {
	background-color: #4782a5;
	color: black;
}
